@media (max-width:900px) {
    .wraper{
        display: none;
    }
    .burger-bar {
        display: block;
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}

@media (max-width:900px) {
    .container {
        justify-content: center;
    }
}